<!DOCTYPE html>
<html>
    <head>
        <title>ErrorLog for Netgain-esb</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="whitelist.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>   
        <script> var exports = {}; </script>
        <script>
            window.onload=function() {
                $('#forms input[type="submit"]').click(function(e){
                    e.preventDefault();
                    e.stopImmediatePropagation();
                    var data = {};
                    data.date = $("#forms input[name=date]").val();
                    $.ajax({
                        url: 'http://localhost:8000/menu/errorLog',
                        type: 'POST',
                        data: data,
                        success: function(data,textStatus,jqXHR){
                            document.getElementById('result').innerText = data;
                            document.getElementById('result').style.border = "1";
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            document.getElementById('result').innerText = jqXHR.response;
                            document.getElementById('result').style.color = "red";
                        }
                    })
                return 0;    
                });
            }
        </script>
        <script>
        </script>
    </head>
    <body>
        <br>
        <form id="forms">
            <fieldset>
            Date <input type="date" data-date-format="YYYY-MM-DD" name="date" id="date" pattern="(\d{4}-\d{2}-\d{2}$)" required>
                <input type="submit" name="button" class="btn btn-primary" value="Add" id="Add">
            </fieldset>
            <br>
        </form>
        <div id="result"></div>
        <br>        
    </body>
</html>