<!DOCTYPE html>
<html>
    <head>
        <title>Log for Netgain-esb</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="whitelist.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>   
        <script> var exports = {}; </script>
        <script>
                $('#forms input[type="submit"]').click(function(e){
                    e.preventDefault();
                    e.stopImmediatePropagation();
                    var date = $("#forms input[name=date]").val();
                    send(date);
                return 0;    
                });
            function send(date){
                var data = {};
                data.date = date;
                $.ajax({
                    url: 'http://localhost:8080/menu/Log',
                    type: 'POST',
                    data: data,
                    success: function(dator,textStatus,jqXHR){
                        document.getElementById('viewing').innerText = "You are viewing logfile for "+data.date;
                        document.getElementById('result').innerText = dator;
                        document.getElementById('result').style.border = "1";
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        document.getElementById('result').innerText = jqXHR.response;
                        document.getElementById('result').style.color = "red";
                    }
                })
            }
            function getToday(){
                var d = new Date();
                var year = Number(d.getFullYear());
                var day = Number(d.getDate());
                var month = Number(d.getMonth());
                month= month+1;
                if(day<10){day="0"+day;}
                if(month<10){month="0"+month}                
                date = year+"-"+month+"-"+day;
                send(date);
            }
        </script>
    </head>
    <body>
        <div class="container">
            <h1 class="mt-5">The full running log</h1>
            <p class="lead">This is the full log of transactions between frontend, backend, server and the database</p>
            <p class="lead" id="viewing"></p>
            <form id="forms">
                <fieldset>
                Date <input type="date" name="date" id="date" pattern="(\d{4}-\d{2}-\d{2}$)" required>
                    <input type="submit" name="button" class="btn btn-primary" value="Get logfile" id="Add">
                </fieldset>
                <br>
            </form>
        </div>
        <div id="result" class="container">
            <script>
                getToday()
            </script>
        </div>
    </body>
</html>