<!DOCTYPE html>
<html>
    <head>
        <title>Menu for Netgain-esb</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>    
        <script> var exports = {}; </script>
    </head>
    <body>
        <br>
        <form action="http://localhost:8000/menu/whiteList/" method="post">
            <fieldset>
            Adress <input type="text" name="adress"><br>
                <input type="submit" name="button" class="btn btn-primary" value="Add" id="Add">
                <input type="submit" name="button" class="btn btn-primary" value="Remove" id="Remove">
            </fieldset>
            <br>
                <div type="text" id="response" border="1"></div>
        </form>
        <br>
        <iframe id="textfile" src="../whitelist.ini"></iframe>
        <script type="text/javascript">
        </script>
    </body>
</html>