<!DOCTYPE html>
<html>
    <head>
        <title>Whitelist Netgain-esb</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="whitelist.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>   
        <script>
            $('#forms input[type="submit"]').click(function(e){
                e.preventDefault();
                e.stopImmediatePropagation();
                var regex1=/\w+\.\w+\.\w+\:\d+$/g;
                var regex2=/\d+\.\d+\.\d+\.\d+\:\d+$/g;
                var adress = $("#forms input[name=adress]").val();
                var test = regex1.test(adress);
                var test2 = regex2.test(adress);
                var button = $(this).attr('id');
                if(test|test2){
                    send(adress,button);
                }
                else{
                    document.getElementById('result').innerText = "Wrong format";
                    document.getElementById('result').style.color ="red";
                }    
            });
            function send(adress, button){
                data = {};
                data.adress = adress;
                data.button = button;
                $.ajax({
                    url : 'http://localhost:8000/menu/whitelist',
                    type : 'POST',
                    data : data,
                    success : function(data,textStatus, jqXHR){
                        getWhite();
                        document.getElementById('result').innerText = data;
                        document.getElementById('result').style.color = "green";                             
                    },
                    error : function(jqXHR,textStatus, errorThrown){
                        getWhite();
                        document.getElementById('result').innerText = jqXHR.responseText;
                        document.getElementById('result').style.color = "red";
                    }
                })
            }
            function getWhite(){
                $.ajax({
                    url: 'http://localhost:8000/menu/whitelistini',
                    type: 'GET',
                    success: function(dator,textStatus,jqXHR){
                        document.getElementById('text').innerText = dator;
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        document.getElementById('text').innerText = jqXHR.response;    
                    }
                })
            }
        </script>
        <script> var exports = {}; </script>
    </head>
    <body>
        <div class= "container">
        <h1 class="mt-5">Whitelist management</h1>
        <p class="lead">Add or remove an adress to the whitelist (accepted recievers)</p>
    </div>
        <form id="forms">
            <fieldset>
            Adress <input type="text" name="adress" id="adress" pattern="(\w+.\w+.\w+:\d+$)|(\d+.\d+.\d+.\d:\d+$)" required>
            <div id="adress2"></div>
            <div id="test"></div>
            <p></p>
                <input type="submit" name="button" class="btn btn-primary" value="Add" id="Add">
                <input type="submit" name="button" class="btn btn-primary" value="Remove" id="Remove">
            </fieldset>
            <br>
        </form>
        <br>
        <div id="result"></div>
        <div id="text">
        <script>getWhite()</script>
        </div>
    </body>
</html>