input[type="text"]:invalid {
    border: 2px solid red;
  }
  
  input[type="text"]:valid {
    border: 2px solid greenyellow;
  }
input[type="text"]:selection {
    border: none;
}
table, th, td 
  {
      margin:10px 2px;
      border:solid 1px #333;
      padding:15px 15px 15px 15px;
      font:25px ;
  }
table
    {
      width: 100%
    }
  th {
      font-weight:bold;
      font-variant-caps: titling-caps;
  }